<mat-toolbar color="primary">
  <mat-toolbar-row>
    <mat-icon class="logo">grid_on</mat-icon>
    <span>Tic Tac Toe</span>
    <span class="example-spacer"></span>

    <button mat-icon-button [matMenuTriggerFor]="appMenu">
      <mat-icon>face</mat-icon>
    </button>
    <mat-menu #appMenu="matMenu">
      <button mat-menu-item (click)="disconnect()">Disconnect</button>
      <a mat-menu-item href="https://github.com/fmesnata/tictactoe">Source code</a>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>

<section class="content">
  <section class="players-list">
    <h2>Players</h2>
    <div class="current-player">
      <div *ngIf="currentPlayer">
        <p>
          <span *ngIf="currentPlayer">{{currentPlayer.username}} - {{currentPlayer.state}}</span>

          <button mat-raised-button color="primary" *ngIf="playerCanPlay()"
                  (click)="changeState(PlayerState['WAITING_FOR_GAME'])">Search game</button>
          <button mat-raised-button color="primary" *ngIf="playerCanCancelSearch()"
                  (click)="changeState(PlayerState['ONLINE'])">Stop searching</button>
          <br>
          <span *ngIf="symbol === 'O'">
            Player 1 : <mat-icon class="example-icon">radio_button_unchecked</mat-icon>
          </span>
          <span *ngIf="symbol === 'X'">
            Player 2 : <mat-icon class="example-icon">clear</mat-icon>
          </span>
        </p>
      </div>
    </div>

    <div>
      <h3>Connected players</h3>
      <ul>
        <li *ngFor="let p of players">
          {{p.username}} - {{p.state}}
        </li>
      </ul>
    </div>
  </section>

  <section class="gameboard">
    <h2>Board</h2>

    <app-grid [grid]="game.grid" [winningLine]="game.winningLine" (addSymbolEvent)="addSymbol($event)"></app-grid>
  </section>

  <section class="score">
    <h2>Score</h2>

  </section>
</section>








