.logo {
  padding: 0 14px;
}

.content {
  display: flex;
  align-items: stretch;
}

.players-list {
  flex: 30;
  padding: 14px;
  button {
    margin: 0 14px;
  }
}

.gameboard {
  flex: 40;
  padding: 14px;
}

.score {
  flex-grow: 30;
  padding: 14px;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

h2 {
  text-align: center;
}
