.logo {
  padding: 0 14px;
}

.content {
  display: flex;
  align-items: stretch;
}

.players-list {
  flex: 25;
  padding: 14px;
  button {
    margin: 0 14px;
  }
}

.gameboard {
  flex: 50;
  padding: 14px;
}

.score {
  flex-grow: 25;
  padding: 14px;
}

.grid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line {
  display: flex;
}

.cell {
  border: grey solid 2px;
  height: 120px;
  width: 120px;
  margin: 5px;
  cursor: pointer;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}
