<mat-toolbar color="primary">
  <mat-toolbar-row>
    <mat-icon class="logo">grid_on</mat-icon>
    <span>Tic Tac Toe</span>
    <span class="example-spacer"></span>

    <button mat-icon-button [matMenuTriggerFor]="appMenu">
      <mat-icon>face</mat-icon>
    </button>
    <mat-menu #appMenu="matMenu">
      <button mat-menu-item (click)="disconnect()">Disconnect</button>
      <a mat-menu-item href="https://github.com/fmesnata/tictactoe">Source code</a>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>

<section class="content">
  <section class="players-list">
    <h2>Players</h2>
    <div class="current-player">
      <h3>Me</h3>
      <div *ngIf="currentPlayer">
        <p>
          <span *ngIf="currentPlayer">{{currentPlayer.username}} - {{currentPlayer.state}}</span>
          <br>
          <span *ngIf="symbol === 'O'">Player 1</span>
          <span *ngIf="symbol === 'X'">Player 2</span>
          <br>
          I play with :
          <mat-icon *ngIf="symbol === 'X'" class="example-icon">clear</mat-icon>
          <mat-icon *ngIf="symbol === 'O'" class="example-icon">radio_button_unchecked</mat-icon>
        </p>
        <button *ngIf="currentPlayer.state === PlayerState[0]" mat-raised-button (click)="changeState(PlayerState[1])">
          Play
        </button>
        <button *ngIf="currentPlayer.state === PlayerState[1]"  mat-raised-button (click)="changeState(PlayerState[0])">
          Stop searching
        </button>
      </div>
    </div>
    <div>
      <h3>Connected players</h3>
      <ul>
        <li *ngFor="let p of players">
          {{p.username}} - {{p.state}}
        </li>
      </ul>
    </div>
  </section>

  <section class="gameboard">
    <h2>Board</h2>

    <div class="grid">
      <div class="line">
        <div class="cell" (click)="addSymbol(0, symbol)">
          <app-symbol [symbol]="game.grid[0]"></app-symbol>
        </div>
        <div class="cell" (click)="addSymbol(1, symbol)">
          <app-symbol [symbol]="game.grid[1]"></app-symbol>
        </div>
        <div class="cell" (click)="addSymbol(2, symbol)">
          <app-symbol [symbol]="game.grid[2]"></app-symbol>
        </div>
      </div>
      <div class="line">
        <div class="cell" (click)="addSymbol(3, symbol)">
          <app-symbol [symbol]="game.grid[3]"></app-symbol>
        </div>
        <div class="cell" (click)="addSymbol(4, symbol)">
          <app-symbol [symbol]="game.grid[4]"></app-symbol>
        </div>
        <div class="cell" (click)="addSymbol(5, symbol)">
          <app-symbol [symbol]="game.grid[5]"></app-symbol>
        </div>
      </div>
      <div class="line">
        <div class="cell" (click)="addSymbol(6, symbol)">
          <app-symbol [symbol]="game.grid[6]"></app-symbol>
        </div>
        <div class="cell" (click)="addSymbol(7, symbol)">
          <app-symbol [symbol]="game.grid[7]"></app-symbol>
        </div>
        <div class="cell" (click)="addSymbol(8, symbol)">
          <app-symbol [symbol]="game.grid[8]"></app-symbol>
        </div>
      </div>
    </div>
  </section>

  <section class="score">
    <h2>Score</h2>

  </section>
</section>








