<div class="grid">
  <div class="line">
    <div class="cell" (click)="addSymbol(0)">
      <app-symbol [symbol]="grid[0]" [winning]="isCellWinning(0)"></app-symbol>
    </div>
    <div class="cell" (click)="addSymbol(1)">
      <app-symbol [symbol]="grid[1]" [winning]="isCellWinning(1)"></app-symbol>
    </div>
    <div class="cell" (click)="addSymbol(2)">
      <app-symbol [symbol]="grid[2]" [winning]="isCellWinning(2)"></app-symbol>
    </div>
  </div>
  <div class="line">
    <div class="cell" (click)="addSymbol(3)">
      <app-symbol [symbol]="grid[3]" [winning]="isCellWinning(3)"></app-symbol>
    </div>
    <div class="cell" (click)="addSymbol(4)">
      <app-symbol [symbol]="grid[4]" [winning]="isCellWinning(4)"></app-symbol>
    </div>
    <div class="cell" (click)="addSymbol(5)">
      <app-symbol [symbol]="grid[5]" [winning]="isCellWinning(5)"></app-symbol>
    </div>
  </div>
  <div class="line">
    <div class="cell" (click)="addSymbol(6)">
      <app-symbol [symbol]="grid[6]" [winning]="isCellWinning(6)"></app-symbol>
    </div>
    <div class="cell" (click)="addSymbol(7)">
      <app-symbol [symbol]="grid[7]" [winning]="isCellWinning(7)"></app-symbol>
    </div>
    <div class="cell" (click)="addSymbol(8)">
      <app-symbol [symbol]="grid[8]" [winning]="isCellWinning(8)"></app-symbol>
    </div>
  </div>
</div>
