.symbol {
  font-size: 120px;
}

.winning-symbol {
  color: gold;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.circle {
  color: dodgerblue;
}

.cross {
  color: #fa4d4d;
}
