.notification {
  display: flex;
  align-items: center;
}

.winner-color {
  background-color: lightgreen;
}

.looser-color {
  background-color: lightcoral;
}

.draw-color {
  background-color: lightblue;
}
